<%= form_for(@type) do |f| %>
<div class="form-group">
  <%= f.label "Name" %>
  <%= f.text_field :name %>
  <%= f.label "Description" %>
  <%= f.text_area :description %>
</div>
<%= f.submit(:class => "btn btn-primary") %>
<% end %>
